.root {
    -fx-font-size: 20px;
    -fx-font-family: "Book Antiqua";
}

#scrollPane {


}

#textFlow {
    -fx-padding: 10px;

}

#textField {
    -fx-cursor: text;
    -fx-background-image: url("images/Adventure.jpg");
}